*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(198, 192, 192);
}

#header .bgColor {
    background-color: rgb(0, 0, 0);
}

#header .logo {
    height: 65px;
    padding-left: 10px;
    margin-left: 40px;
}

.btnCart {
    border-color: black;
    
    font-size: 1.1rem;
    margin: auto;
    
}

.btnCarrito {
    display: flex;
    align-items: center;
}

.cartLogo {
    height: 36px;
    padding-right: 8px;
}
.btnColor{
    color: black;
    background-color: white;
    border-color: black;
}

#contador-carrito {
    font-size: 1.2rem;
    background-color: black;
    padding: 0;
    top: 1px;
    left: 3px;
}

.btnColor:hover{
    color: #fff;
    background-color: #000;
    border-color: black;
}

.colorForm{
    color: rgb(43, 28, 28);
    width: 100px;
}

.col{
    display: flex;
    justify-content: space-evenly;
}
.bloque{
    margin: auto;
    padding: 150px 0 50px 0;
}
.col-lg-4{
    width: auto;
}
.card-footer{
    padding-left: 85px;
    padding-right: 85px;
}
